

<h4 class="s"><%= flash[:notice] %></h4>
<h4>Title:</h4>
<%= @book.title %>
<h4>Body:</h4>
<%= @book.body %>


<br/>
<div class="aa">
<%=  link_to"Edit",edit_book_path(@book) %>
|
<%= link_to"Back",books_path %>
</div>